<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">Projekat</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Login</a>
          <a *ngIf="isDisabledCreate"[routerLink]="'/create'" class="nav-link active" aria-current="page">Create User</a>
          <a [routerLink]="'/history'" class="nav-link active" aria-current="page">Users</a>
          <a [routerLink]="'/createMachine'" class="nav-link active" aria-current="page">Create Machine</a>
          <a [routerLink]="'/machines'" class="nav-link active" aria-current="page">Machines</a>
          <a [routerLink]="'/error'" class="nav-link active" aria-current="page">Error History</a>
        </div>

      </div>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
