<div>
  <h1>Machines list</h1>

  <div>
    <form (submit)="search(name,status,dateFrom,dateTo)" class="mb-5">

      <div class="form-group mb-2">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" [(ngModel)]="name">

        <label for="DateFrom">DateFrom</label>
        <input type="text" class="form-control" id="DateFrom" name="DateFrom" placeholder="U formatu dan/mesec/godina zadnja dva broja" [(ngModel)]="dateFrom">


        <label for="DateTo">DateTo</label>
        <input type="text" class="form-control" id="DateTo" name="DateTo" placeholder="U formatu dan/mesec/godina zadnja dva broja" [(ngModel)]="dateTo">

        <label for="status">Choose status:</label>
        <select name="status" id="status" [(ngModel)]="status">
          <option value="" selected ></option>
          <option value="STOPPED" id="STOPPED" name="STOPPED"  >STOPPED</option>
          <option value="RUNNING" id="RUNNING" name="RUNNING"  >RUNNING</option>
        </select>

      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <table>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Created By</td>
      <td>Status</td>
      <td>Active</td>
      <td>Busy</td>

    </tr>

    <tr *ngFor="let machine of machines" >
      <td (click)="change(machine.id)">{{machine.id}}</td>
      <td (click)="change(machine.id)">{{machine.name}}</td>
      <td (click)="change(machine.id)">{{machine.createdBy}}</td>
      <td  (click)="change(machine.id)">{{machine.status}}</td>
      <td (click)="change(machine.id)">{{!machine.destroy}}</td>
      <td (click)="change(machine.id)">{{machine.active}}</td>

      <td ><button class="start-btn" (click) = "start(machine.id)" [disabled]="!isDisabledStart" >Start</button></td>
      <td ><button class="stop-btn" (click) = "stop(machine.id)" [disabled]="!isDisabledStop" >Stop</button></td>
      <td ><button class="restart-btn" (click) = "restart(machine.id)" [disabled]="!isDisabledRestart" >Restart</button></td>
      <td ><button class="destroy-btn"  [disabled]="!isDisabledDestroy" (click)="destroy(machine.id)" >Destroy</button></td>

    </tr>
  </table>


</div>


